.c-backButton{
    &Back{
        color: var(--color-white);
        font-size: 18px;
        position: absolute;
        top: 45px;
        left: 45px;
        height: 30px;
    }
    &Icon{
        position: absolute;
        top: 40px;
        left: 20px;
        height: 30px;
    }


}