.c-accordionUser {
    background-color: var(--color-white);
    border-radius: 20px;
    margin: auto;
    width: 328px;
    padding: 20px 0 20px 0;
    &-closed {
        padding-top: 10px;
        margin: auto;
        width: 328px;
        height: 30px;
        background-color: var(--color-green-dark);
        border-radius: 20px;
        border-bottom: 1.5px solid var(--color-white);
    }
    &__contributions {
        text-align: center;
    }
    &__title {
        font-size: 18px;
        font-weight: normal;
        color: var(--color-green-dark);
    }
    &__graphic {
        margin: 0 auto;
        width: 80%;
        height: 200px;
        border-radius: 10px;
    }
    &__lastPickUp {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin: 25px auto;
    }
    &__lastPickUpTitle {
        text-decoration: underline;
        color: var(--color-green-light);
    }
    &__lastPickUpInfo {
        text-decoration: none;
        color: var(--color-green-dark);
    }
    &__lastPickUp p {
        margin: 0;
    }
    &__impact {
        color: var(--color-green-light);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        width: 22px;
        height: 26px;
        background-color: blue;
        margin-left: 5px;
    }
    &__listPlain {
        color: var(--color-green-light);
    }
    &__listEmphasis {
        color: var(--color-green-dark);
    }

    &__images {
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 32px;
    }
    &__image {
        width: 130px;
        height: 135px;
        border-radius: 10px;
        background-color: blue;
    }
}
