.c-login{

    display: flex;
    justify-content: center;

    &__logo{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 10vh;
        

        & img{
            width: 60%;
        }
    }

    &__container{
        position: absolute;
        top:30vh;
        width: 328px;
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        border-radius: 20px;
        color: var(--color-green-dark)
    }

    &__top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
    }

    &__tittle{
        margin: 20px 0 20px 5px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    &__mail{

        width: 100%;
    }

    &__check{
        margin-top: 4%;
        margin-right: 100px;
        margin-bottom: 15%;
        font-size: 14px;
    }

    &__btn{
        margin-bottom: 10%;
    }

    &__register{
        font-size: 12px;
    }
}