.i-back {
    background-image: url("../../assets/imgs/flechaBACK.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}