.i-truck {
    background-image: url("../../assets/imgs/camion.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    &--active {
        background-image: url("../../assets/imgs/camion-activo.svg");
    }
    &--light {
        background-image: url("../../assets/imgs/camion-light.svg");
        width: 35px;
        height: 35px;
    }
}