.c-employee{
    align-items: center;
    text-align: center;
    color: var(--color-white);

    &__logo{
        max-width: 60%;
        margin-top: 3vh;
    }

    &__truck{
        display: flex;
        justify-content: center;
        margin: 0; 
        margin-top: 5vh;
       }
}

.c-accordion {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin:50px auto;
    background-color: var(--color-white);
    border-radius: 20px;
    color: var(--color-green-light);
    &--done {
        background-color: rgb(247, 201, 201);
    }

    &__title {
        margin: 15px auto;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
    &__text {
        text-align: center;
        width: 80%;
        margin: 10px auto;
        font-size: 18px;
        font-weight: normal;
        &--bigger {
            font-size: 20px;
            width: 70%;
        }
        span {
            text-decoration: underline;
        }
    }
    &__btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &Close {
            cursor: pointer;
        }
    }
}
