.c-moreInfo{
    margin-top: 80px;
    margin-bottom: 20px;
    p{
        padding: 0;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        font-weight: bolder;
        font-size: 21px;
    }
    &Back{
        font-size: 18px;
        position: absolute;
        top: 45px;
        left: 45px;
        height: 30px;
    }
    &Icon{
        position: absolute;
        top: 40px;
        left: 20px;
        height: 30px;
    }


}